<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>分类-Yifelix</title>
    <link rel="shortcut icon" th:href="@{/images/adminavatar.jpg}" href="../static/images/adminavatar.jpg" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>

    <nav th:replace="_fragments ::menu(2)"
         class="ui inverted attached segment m-padded-tb-mini m-shadow-small gird-header">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu ">
                <h2 class="ui olive header item">Yifelix</h2>
                <a href="/" class="m-item item m-mobile-hide"><i
                        class="home icon"></i>首页</a>
                <a href="#" class="m-item item m-mobile-hide"><i
                        class="idea icon"></i>分类</a>
                <a href="#" class="m-item item m-mobile-hide"><i
                        class="clone icon"></i>时间轴</a>
                <a href="./message_board.html" class="m-item item m-mobile-hide"><i
                        class="envelope outline icon"></i>留言板</a>
                <a href="#" class="m-item item m-mobile-hide"><i
                        class="info icon"></i>关于我</a>
                <div class="right m-item item m-mobile-hide">
                    <div class="ui icon inverted transparent input">
                        <input type="text" placeholder="搜索....">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>

        <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>

    <!--中间内容-->
    <div class="m-container m-opacity-mini m-padding-tb-huge">
        <div class="ui container">
            <div class="ui stackable grid">

                <!--左边分类列表-->
                <div class="twelve wide column animate__animated animate__fadeInLeft">
                    <!--header-->
                    <div class="ui teal top attached segment">
                        <div class="ui middle aligned two column grid">
                            <div class="column">
                                <h3 class="ui teal header">分类</h3>
                            </div>
                            <div class="right aligned column">
                                共 <h3 class="ui orange header m-inline-block m-text-thin" th:text="${types.size()}">
                                14 </h3> 个
                            </div>
                        </div>
                    </div>

                    <div class="ui attached segment m-padded-tb-large">
                        <div class="ui labeled button m-margin-tb-tiny" th:each="type : ${types}">
                            <a href="#" th:href="@{/types/{id}(id=${type.typeId})}"
                               th:classappend="${type.typeId==activeTypeId} ? 'teal'" th:text="${type.name}"
                               class="ui basic button">思考与感悟
                            </a>
                            <div th:classappend="${type.typeId==activeTypeId} ? 'teal'"
                                 class="ui basic left pointing label"
                                 th:text="${type.typeCount}">24
                            </div>
                        </div>
                    </div>

                    <div class="ui top attached teal segment">

                        <div class="ui vertical padded segment m-padded-tb-large m-mobile-lr-clear"
                             th:each="blog :${pageInfo.list}">
                            <div class="ui mobile reversed stackable grid">
                                <div class="eleven wide column">
                                    <h3 class="ui header"><a class="m-black" href="#"
                                                             th:href="@{/blog/{id}(id=${blog.id})}"
                                                             target="_blank" th:text="${blog.title}">Spring Boot
                                        XXXX</a>
                                    </h3>
                                    <p class="m-text" th:text="|${blog.description}......|">
                                        将诶欧威哦我将诶欧威哦我将诶欧威哦我将诶欧威哦我威客网快将诶欧威哦我XXX 文件尅噢为将诶我节诶为将诶我节就</p>
                                    <div class="ui stackable grid">
                                        <div class="eleven wide column">
                                            <div class="ui mini horizontal link list">
                                                <div class="item">
                                                    <img src="https://unsplash.it/100/100?image=1059" alt=""
                                                         class="ui avatar image" th:src="@{${blog.avatar}}">
                                                    <div class="content">
                                                        <a href="#" th:href="@{/about}" class="header"
                                                           th:text="${blog.nickname}" target="_blank">yzj</a>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <i class="calendar icon"></i>
                                                    <span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2020-06-01</span>
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i>
                                                    <span th:text="${blog.views}">2342</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class=" right aligned five wide column">
                                            <a href="" target="_blank"
                                               class="ui teal basic label m-padded-tiny m-text-spaced"
                                               th:text="${blog.typeName}">Spring
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="five wide column">
                                    <a href="#" target="_blank">
                                        <img src="https://unsplash.it/800/450?image=1059" alt=""
                                             class="ui rounded image" th:src="@{${blog.firstPicture}}">
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--footer-->
                    <div class="ui bottom attached segment">
                        <div class="ui middle aligned two column grid">
                            <div class="three wide column">
                                <a href="#" class="ui mini teal basic button"
                                   th:href="@{/types(pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}"
                                   th:unless="${pageInfo.isFirstPage}">上一页</a>
                            </div>

                            <div class="ten wide column" align="center">
                                <p><span th:text="${pageInfo.pageNum}"></span> / <span
                                        th:text="${pageInfo.pages}"></span>
                                </p>
                            </div>

                            <div class="three wide column">
                                <a href="#" class="ui mini teal basic button"
                                   th:href="@{/types(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}"
                                   th:unless="${pageInfo.isLastPage}">下一页</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--右边top-->
                <div class="four wide column animate__animated animate__fadeInRight">

                    <!--最新推荐-->
                    <div class="ui segments">
                        <div class="ui teal secondary segment">
                            <i class="bookmark icon"></i>最新推荐
                        </div>
                        <div class="ui segment" th:each="blog : ${recommendBlogs}">
                            <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank"
                               class="m-black m-text-thin" th:text="${blog.title}">用户故事(User)</a>
                        </div>
                    </div>

                    <!--二维码-->
                    <h4 class="ui horizontal divider header m-margin-top-large">扫码关注我</h4>
                    <div class="ui centered card" style="width: 11em">
                        <img src="../static/images/wechat.png" th:src="@{/images/wechat.png}" alt="" class="ui rounded image">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br><br>

    <!--底部footer-->
    <footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive m-opacity-mini">
        <div class="ui center aligned container">
            <div class="ui inverted divided stackable grid">
                <div class="four wide column">
                    <div class="ui inverted link list">
                        <div class="item">
                            <img src="../static/images/wechat.png" th:src="@{/images/wechat.png}"
                                 class="ui rounded image" style="width: 100px">
                        </div>
                    </div>
                </div>

                <div class="four wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced ">联系我</h4>
                    <div class="ui inverted link list">
                        <p class="item">Email：1016445037@qq.com</p>
                        <p class="item">QQ:1016445037</p>
                    </div>
                </div>
                <div class="eight wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced ">Yifelix</h4>
                    <p class="m-text-thin m-text-spaced m-opacity-mini">
                        Hi~欢迎访问我的博客，本博客是自己通过代码构建，如果对这些技术感兴趣的朋友可以联系我，一起学习。
                    </p>
                </div>
            </div>

            <div class="ui inverted section divider"></div>
            <span class="m-white m-opacity-tiny">Copyright © 2020 Yifelix  Designed by YZJ</span><br>
            <div class="m-opacity-tiny" style="margin:0 auto; padding:20px 0;">
                <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=35010502000146"
                   style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img th:src="@{/images/备案图标.png}" src="../static/images/备案图标.png" style="float:left;"/><p class="m-red" style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">闽公网安备 35010502000146号</p>
                </a>
                <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=35010502000146"
                   style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><p class="m-white" style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">闽ICP备20012697号</p>
                </a>
            </div>
        </div>
    </footer>

    <!--/*/<th:block th:replace="_fragments :: script">/*/-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.scrollto@2.1.2/jquery.scrollTo.min.js"></script>
    <!--/*/</th:block>/*/-->
    <script>
        $('.menu,toggle').click(function () {
            $(".m-item").toggleClass('m-mobile-hide');
        });


    </script>
</body>
</html>